<h2> Nebula Force, Go! Upcoming Shows </h2>
<% @api_call["items"].each do |item| %>
  <h3> <%= item["summary"] %> </h3>
  <h4> <%= item["start"]["dateTime"] %> </h4>
  <p><%= item["location"] %></p>
  <p><%= item["description"] %></p>
<% end %>

